<!--begin::Footer-->
<div class="footer bg-white shadow-sm py-3 mt-auto">
    <div class="container-xxl d-flex flex-column-auto justify-content-between py-3 d-flex align-items-center">
        <span class="text-muted fw-semibold me-2">© 2025 MasterBackup. Todos los derechos reservados.</span>
        <ul class="list-unstyled d-flex gap-3">
            <li>
                <a href="#" class="text-muted fw-semibold">Términos</a>
            </li>
            <li>
                <a href="#" class="text-muted fw-semibold">Privacidad</a>
            </li>
            <li>
                <a href="#" class="text-muted fw-semibold">Contacto</a>
            </li>
        </ul>
    </div>
</div>
<!--end::Footer-->
