<!--begin::Sidebar body-->
<div class="d-flex flex-column flex-column-fluid py-7 py-lg-10 px-6 px-lg-8">
    <!--begin::Menu-->
    <div id="kt_sidebar_menu" data-kt-menu="true" class="menu menu-column menu-rounded menu-gray-600 menu-state-title-gray-700 menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-6">
        <!--begin::Menu item - Dashboard-->
        <div class="menu-item">
            <a routerLink="/home/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu-link">
                <span class="menu-icon">
                    <i class="ki-duotone ki-element-11 fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                    </i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </div>
        <!--end::Menu item-->

        <!--begin::Menu separator-->
        <div class="menu-item pt-5">
            <div class="menu-content">
                <span class="menu-section fs-6 fw-bolder ps-1 py-2">Opciones</span>
            </div>
        </div>
        <!--end::Menu separator-->

        <!--begin::Menu item - Configuración-->
        <div class="menu-item">
            <a href="#" class="menu-link">
                <span class="menu-icon">
                    <i class="ki-duotone ki-setting-2 fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
                <span class="menu-title">Configuración</span>
            </a>
        </div>
        <!--end::Menu item-->

        <!--begin::Menu item - Perfil-->
        <div class="menu-item">
            <a href="#" class="menu-link">
                <span class="menu-icon">
                    <i class="ki-duotone ki-profile-circle fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
                <span class="menu-title">Perfil</span>
            </a>
        </div>
        <!--end::Menu item-->
    </div>
    <!--end::Menu-->
</div>
<!--end::Sidebar body-->
